.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  background-color: #f3d235;
}

.logo {
  padding: 0 50px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.nav_menu {
  display: flex;
}

.nav_menu li {
  font-size: 20px;
  font-weight: bold;
}

.cardContainer {
  display: flex;
  padding: 50px 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 33px -21px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0 5px 33px -21px rgba(66, 68, 90, 1);
  box-shadow: 0 5px 33px -21px rgba(66, 68, 90, 1);
}

ul {
  list-style-type: none;
}

li {
  padding: 0 1rem;
}

@media screen and (max-width: 400px) {
  .cardContainer {
    padding: 50px 10px;
  }
}
